* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #f3fff6;
  color: #1f2937;
}

/* GREEN THEME COLORS */
:root {
  --dark-green: #0f5132;
  --light-green: #22c55e;
  --soft-green: #e6f9ef;
}
